* {
    box-sizing: border-box;
    user-select: none;
}

.all-container {
    padding: 0;
}

.grid-container {
    background: white;
    margin: 20px auto;
    display: grid;
    grid-template-columns: auto auto auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    grid-gap: 10px;
    width: fit-content;
}

.grid-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    line-height: 50px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-item:hover {
    background: #ccc;
}

.right-corner {
    position: absolute;
    left: 0;
    bottom: 0;
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    kbd {
        font-size: 20px;
    }
}

.try-another {
    // display: block;
    width: fit-content;
    margin: 0 auto;
    button {
        margin: 10px;
    }
}