<div class="modal-container">
  <div class="my-modal">
    <div class="my-modal-header">
      You Won
    </div>
    <hr>
    <div class="my-modal-body">
      You won this game would you like to play another game
    </div>
    <hr>
    <div class="my-modal-footer">
      <div class="button-container">
        <button class="btn btn-lg btn-success center" (click)="response(true)"> Yes </button>
        <button class="btn btn-lg btn-danger center" (click)="response(false)"> No </button>
      </div>
    </div>
  </div>
</div>